body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

#title{
    text-align: center;
    font-size: large;
}

#cont{
    text-align: left;
    font-size: medium;
}