body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#cabecera{
    background-color: bisque;
    color: teal;
    text-align: center;
    font-size: large;

}

#title{
    text-align: center;
    font-size: medium;
}

#cont{
    text-align: left;
    font-size: small;
}