body{
    background-color: aquamarine;
}

#cabecera{
    text-align: center;
    font-size: x-large;
}

#title{
    text-align: center;
    font-size: large;
}

#cont{
    text-align: left;
    font-size: medium;
}